* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    background-image: url(./assets/design1_image2.jpg);
    height: 30vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 25%;
}

h1 {
    text-align: left;
    font-family: cursive;
    background-color:#fbe32c;
    border: 3px solid black;
    font-size: 35px;
}

h2 {
    text-align: center;
    background-color: #5ba39b; 
    color:white;
    font-size: 28px;
    border: 2px solid black;
}

h3 {
   text-align: start;
    color:#c34c34; 
    font-size: 25px;
    text-align: center;
}

h4 {
    text-align: left;
    color: #c34c34;
    font-weight: bold;
    font-size: 20px;
}

h5 {
    text-align: start;
    color:black;
    font-size: 20px;
    text-align: center;
}

h6 {
    text-align: start;
    color:black;
    font-size: 15px;
    text-align: left;
    font: solid;
}

nav {
    text-align: right;
    position: absolute;
    top: 40px;
    right: 5px;
    display: inline;
}

nav a {
    text-decoration: none;
    height: 30px;
    width: 100px;
    background-color:#4B8BDD;
    color: white;
    margin: 3px;
    padding: 5px 20px;
    border: 2px solid black;
    text-align: right;
    border-radius: 10px;
    display: inline;  
}

a:hover {
    background-color: #5CC340;
    color: white;
    border-color: black;
}

a:active {
    background-color: #5CC340;
    color: white;
    border-color: black;
}

.contenedor_flex {
    background-color: white;
    height: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.logo {
   background-color: white;
   padding: 10px;
}

.tamaño_logo{
    width: 130px;
    height: 130px;
    object-fit: contain;
}

p {
    text-indent: 1rem;
}

.fechas {
    background-color: white;
    color: black;
    text-align: start;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.informacion {
    background-color: white;
    color: black;
    text-align: start;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.email {
    background-color: white;
    color: black;
    text-align: start;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.email p {
    text-indent: 0rem;
}

.calendario_partidos {
    background-color: white;
    color: black;
    text-align: start;
    justify-content: center;
    padding: 20px; 
    margin-top: 20px;      
}

table {
    background-color: white;
    width: 50vw;
    height: 30vh;
    border: 1px solid black;
    border-radius: 5px;
    border-collapse:collapse;
    border: 1px solid black;
    border-radius: 6px;
    color: black;
    font-size: 20px;
}

th, td {
    border: 2px solid black;
}

th {
    background-color: #c34c34;padding: 20px;
}

td {
    padding: 20px;
    background-color: #fbe32c;
}

.mapa_locaciones {
    background-color: white;
    padding: 20px; 
    margin-top: 20px; 
    text-align: start;
    justify-content: center;
}

.informacion_adicional {
    background-color: white;
    color: black;
    text-align: start;
    justify-content: flex-start;
    padding: 20px;
}

.caja_reglas {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.sublista {
    list-style-type: lower-alpha;
}

.concepto_juego {
    list-style-type:none;
    text-indent: 2rem;
}

.entrenador {
    list-style-type:circle;
}

.formulario {
    background-color: white;
    color: black;
    text-align: start;
    justify-content: center;
    padding: 20px; 
    margin: 10px;
    margin-top: 20px;   
}

form{
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

fieldset{
    background-color: #fbe32c;
    padding: 10px;
    border-radius: 10px;
    margin: 2px;
    border: none;
}

label {
    color: solid;
}

legend{
    color: black;
    text-decoration: solid;
    padding: 0.2rem;
    text-decoration: underline;
}

iframe{
    border-radius: 1rem;
    border: 2px solid white;
    margin: 1rem;
}

.boton_enviar {
    display: flex;
   justify-content: center;
    cursor: pointer;
}

.permiso_firma {
    padding: 10px; 
    margin: 20px;   
}

.permiso_juego {
    background-color: #fbe32c;
    color: black;
    text-align: start;
    justify-content: center;
    padding: 15px; 
    margin: 10px;   
    list-style-type:none;
    text-indent: 2rem;
}

.firma_tutor { 
    background-color: #fbe32c; 
    padding: 10px; 
    margin: 10px;  
    margin-bottom: 50px;
    align-content: center;
}